 body {
            background-color: rgb(237, 235, 235);
        }
        h1 {
            box-shadow: inset 0px 0px 10px 4px rgb(46, 221, 15) ;
            background-color: rgb(0, 0, 0);
            text-align: center;
            color: rgb(46, 221, 15);
        }
        h1:hover {
            transition: 0.5s;
            transform: scale(1.1);
            transform-origin: center;
            transform-style: preserve-3d;
            transition-timing-function: ease-in-out;
            transition-delay: 0.2s;
            cursor: pointer;
            box-shadow: 0px 0px 100px 4px rgb(46, 221, 15);
        }
input[type="text"] {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    outline: none;
    color: rgb(46, 221, 15);
            background-color: rgb(0, 0, 0);
            width: 200px;
            height: 30px;
            border-radius: 5px;
            border: 2px solid rgb(118, 197, 45);
            box-shadow: 0px 0px 10px 4px rgb(46, 221, 15);
            margin-bottom: 20px;
            padding: 5px;
        }
        input[type="text"]:focus {
            box-shadow: 0px 0px 100px 4px rgb(46, 221, 15);
            border: 2px solid rgb(118, 197, 45);
        }

        input[type="text"]::placeholder {
            color: rgb(46, 221, 15);
            font-weight: bold;
        }

        table {
            

        
             transform: translateX(110px);
            align-items: center;
            text-align: center;
            box-shadow: 0px 0px 10px 4px rgb(46, 221, 15);
            
            width: 400px;
            height: 200px;
            justify-content: center;
            display: table;
            border: 2px solid rgb(118, 197, 45);
           
            border-radius: 10px;
        }
        table:hover {
            transition: 0.5s;
            transform: scale(1.1);
            transform-origin: center;
            transform-style: preserve-3d;
            transition-timing-function: ease-in-out;
            transition-delay: 0.2s;
            transform:translateY(110px);
            transform:reflect(1, 0);
            /* Keeps the container tight around the table */
  
  /* Creates the reflection below, with a 2px gap, fading out using a gradient */
 
            
            cursor: pointer;
            
            
        
            
            box-shadow: 0px 0px 100px 4px rgb(46, 221, 15);
            border: 2px solid rgb(118, 197, 45);
        }
        td {
            background-color: rgb(0, 0, 0);
            box-shadow: 0px 0px 10px 4px rgb(46, 221, 15);
            font-synthesis-style: inherit;
            font-weight: 600;
            text-align: center;
            vertical-align: middle;
            color: rgb(46, 221, 15);
        }
